

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(140, 0, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(46, 80, 254);
  }
  
  /* selected link */
  a:active {
    color: rgb(224, 157, 126);
  }