.navbar-styled {
  background-color: rgb(22,58,108);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff;
}

.table-container {
  width: 100%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Times New Roman', Times, serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.styled-table thead tr {
  background-color: #005498;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #005498;
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(140, 0, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(46, 80, 254);
  }
  
  /* selected link */
  a:active {
    color: rgb(224, 157, 126);
  }